.button {
  background: rgb(173, 110, 190);
  color: rgb(11, 1, 18);
  border: 2px solid rgb(122, 17, 221);
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 255, 0.3);
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.button:hover {
  background: #704496;
}